/* Контрол с общими действиями */
.BasketTool{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label{

}

.BasketTool-total{
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-navigation {
  margin-right: auto;
}

.BasketTool-link {
  color: #0087E9;
  text-decoration-line: underline;
}